<%- include('header') %>




<div>  
      <h3> Connexion</h3>
    <form method="POST">
        <div class="div-1">
             <label for="leblemail" class="form-label">Email address</label>
             <input type="email" class="form-control" id="email" placeholder="exemple@exemple.com">
        </div>

        <div class="div-1">
             <label for="labelpassword" class="form-label" >Password</label>
             <input type="password" class="form-control" id="password" placeholder="************">
        </div>
        <button type="submit" class="btn btn-primary">se connecter</button>

    </form>
</div>


<script>

    const form = document.querySelector('form');
    const emailError = document.querySelector('#emailError')
    const passwordError = document.querySelector('#passwordError')
    form.addEventListener('submit', async(e) => {
            e.preventDefault();

        const email = form.email.value;
        const password = form.password.value;

        try{

            const res = await fetch('/login', 
            {
                method: 'POST',
                body: JSON.stringify({ email, password }), // stringify => convert js value to js object
                headers: { 'Content-Type':'application/json' }
            })

            const data = await res.json();

            if(data.user)
            {
                location.assign('/register');
            }
        }
        catch (err) 
        {
            console.log(err)
        }

    });


</script>


<%- include('footer') %>